<!DOCTYPE html>
<html>
  <head>
    <title>Template App</title>
  </head>
  <body>
    <h1>Template App</h1>
    <p>Welcome to the template app!</p>
    My name is {{ name }} and I am {{ age }} years old.
    <div>
        {% if age < 12 %}
        I am a baby.
        {% elif age > 12 and age < 18 %}
        i am a teenager.
        {% elif age > 18 %}
        I am an adult.
        {% else %}
        Something wrong with my age.
        {% endif %}
    </div>

    <div>
        
        
        {% if student %}
            {% comment "looping over a list" %}
            {% endcomment %}
            <h2> I am a student. my subjects are </h2> 
                {% for subject in subjects %}
                <ul > {{ subject }} </ul>
                {% endfor %}

            {% comment "looping over a dictionary" %}
            {% endcomment %}

            <h2>My subject wise marks are  </h2>
                {% for subject, marks in marks.items %}
                <ul > {{ subject }} : {{ marks }} </ul>
                {% endfor %}
            
        {% else %}
            I am not a student.
        {% endif %}
        
    </div>
  </body>
</html>