<!DOCTYPE html>
<html>
  <head>
    <title>Template App</title>
  </head>
  <body>
    <h1>Template App</h1>
    <p>Welcome to the template app!</p>
    <div>
        <div id="content">
            {% block content %}
            <p>This is the default content.</p>
            {{title}}
            {{content | safe  }}
            {% endblock %}
          </div>
        <div>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>  
    </div>
    
  </body>